@import '../../layouts/variables.css';

.container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  margin-top: 25px;
}

.navBar {
  width: var(--content-width);
  margin: 0 auto;
  display: flex;
  align-content: flex-end;
  justify-content: space-between;
}

.logo {
  margin: 0;
  padding: 0px;
  height: 42px;
}

.menuItems {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.menuItems li {
  margin-left: 25px;
  text-align: center;
}
