html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

html {
  font-size: 1em;
  overflow-x: hidden;
  max-width: 100vw;
}

body {
  /* Fix the issue whereby the "overflow" property applied to body automatically,
    which breaks the "Table Of Contents" design on the `/knowledge-base/*` pages.
   */
  overflow: unset !important;
  background-color: white;
  font-family: "Source Sans Pro", serif;
  font-weight: 400;
  line-height: 1.45;
  color: #333;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.005);
  backface-visibility: hidden;
  width: 100%;
}

p {
  margin-bottom: 1.3em;
}

h1,
h2,
h3,
h4 {
  margin: 1.414em 0 0.5em;
  font-weight: inherit;
  line-height: 1.2;
}

h1 {
  margin-top: 0;
  font-size: 5.063em;
}

h2 {
  font-size: 3.375em;
}

h3 {
  font-size: 2.25em;
}

h4 {
  font-size: 1.5em;
}

small,
.font_small {
  font-size: 0.667em;
}

a {
  text-decoration: none;
}
